@import "./Fonts/Book_Web/Futura_PT_Book.css";
@import "./Fonts/Cond_Medium_Web/Futura_PT_Cond_Medium.css";
@import "./Fonts/Demi_Web/Futura_PT_Demi.css";
@import "./Fonts/Heavy_Web/Futura_PT_Heavy.css";
@import "./Fonts/Medium_Web/Futura_PT_Medium.css";

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1176px;
  margin: 0 auto; 
}

.lending-header {
  display: flex;
  flex-direction: row;
}

.test-article {
  width: 488px;
  height: 790px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  background: #ffffff;
  border: 1px solid #dbe3f0;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 20px 20px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  /* height: 790px; */
}

.header-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 96px;
}

.header-article-title-fire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.fire-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.header-article-title-fire-text {
  font-family: "FuturaPTWebMedium";
  color: #a3b3cc;
  vertical-align: Center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.0025em;
  
}

.header-article-title-text {
  /* width: 392px; */
  margin-top: 24px;
  font-family: "FuturaPTWebCondMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #27303f;
  white-space: normal;
}

.header-article-description-text {
  font-family: "FuturaPTWebBook";
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #637899;
}

.header-article-test {
  /* width: 392px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 48px 0px;
}

.header-article-test-button {
  width: 392px;
  height: 56px;
  background-color: white;
  border: 2px solid #56b8ff;
  box-sizing: border-box;
  border-radius: 12px;
}

.test-button-name {
  font-family: "FuturaPTWebHeavy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #56b8ff;
}

.header-article-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.header-article-description {
  display: flex;
  align-items: center;
}

.header-article-test-description {
  font-family: "FuturaPTWebBook";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #637899;
  text-align: center;
  letter-spacing: 0.0025em;
  margin: 12px 0px;
}

.header-reference {
  width: 424px;
  height: 124px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding: 0px 0px;
}
.header-reference-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.header-reference-text {
  text-align: center;
  text-decoration: none;
  font-family: "FuturaPTWebMedium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.0025em;
  color: #637899;
  margin-bottom: 5px;
  z-index: 1;
}

.header-logo-section {
  position: relative;
  left: 570px;
  
}

.header-logo {
  margin-top: 64px;
}

.lending-background {
  width: 676px;
  height: 740px;
  margin-left: 12px;
}
